Body {
  font-family: Arial, sans-serif ; 
  background-color: dimgray ;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.card {
  background-color: slategray;
  padding: 20px ;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 300px;
}

.card img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.card h1 {
  margin: 10px 0;
}

.card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.card button:hover {
  background-color: #4CAF50;
}


